.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input {
  width: 100%;
  padding: 10px;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.center {
  text-align: center;
  justify-content: center;
}

.button {
  background-color: #9bb3e3;
  color: black;
  border: none;
  padding: 8px 12px;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
  text-wrap: nowrap;
}

.button:disabled {
  background-color: #d3d3d3;
  color: #a9a9a9;
}

.clickable:hover {
  cursor: pointer;
}
  
  .link {
  color: #2859bb;
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  color: #6d9bf8;
  text-decoration: underline;
}

.list {
  padding: 0
}

.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  background-color: #9bb3e3;
  text-wrap: nowrap;
  font-weight: bold;
}

.list-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 8px;
  text-wrap: nowrap;
}